<ion-content>
  <!--
  <ion-grid>
    <ion-row class="items-center">
      <ion-col size="auto" class="test">
        <ion-text class="city">
          十堰
        </ion-text>
        <ion-text class="temp">
          晴 32°C
        </ion-text>
      </ion-col>
      <ion-col class="">
        <ion-searchbar enterkeyhint="search" class="ion-no-padding ion-padding-end" name="keyword" placeholder="搜索公交线路和站点"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
  <ion-img src="../assets/img/home.jpg">
  </ion-img>

</ion-content>
